<section class="intro-video-section">
  <div class="video-container">
    <video autoplay muted loop playsinline>
      <source src="/quizvideo1.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>
</section>


<div class="cards" *ngIf="quizzes.length > 0">
  <article class="quiz-card" *ngFor="let q of quizzes">
    <div class="card-content">
      <div class="card-left">
        <span class="badge">Quiz #{{ q.id }}</span>
        <h3 class="quiz-title">{{ q.titre }}</h3>
        <p class="description">{{ q.description }}</p>
        <div *ngIf="q.formation">
          <strong>Formation :</strong> {{ q.formation.titre }}
        </div>
        <a [routerLink]="['/quizzes', q.id]" class="btn-primary">Voir le quiz</a>
      </div>
      <div class="card-right">
        <img *ngIf="q.imageUrl"
             [src]="'/uploads/' + q.imageUrl"
             alt="Quiz"
             class="illustration" style="max-width:100px"/>
        <img *ngIf="!q.imageUrl"
             src="4955888-removebg-preview.png"
             alt="Quiz"
             class="illustration"/>
      </div>
    </div>
  </article>
</div>
